.DS_Store
._.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
config.yml*
*Rproj

### some scripts not needed for publication
old*
04bis*
07-Predict_COLLtoCOLL_not_for_paper.R
06-ModelGenos_unpublished_more_complete.R
xx-VarianceAnalysis_not_for_paper.R
_*
*not_for_paper

## files not needed on any GIT
**/input/
**/output/
lib/
secret/**
temp/
*.html
*.pdf
*.rds
*.png
*.txt
!.keep
